In [15]:
import numpy as np
import pandas as pd
from google.colab import files

In [16]:
train_data = pd.read_csv("https://raw.githubusercontent.com/Mateusz-Pawlowskii/Mod_18_Zad_2/master/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
test_data = pd.read_csv("https://raw.githubusercontent.com/Mateusz-Pawlowskii/Mod_18_Zad_2/master/test.csv")
test_data.head()
pass_id = test_data.PassengerId

In [18]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [19]:
train_data["Cabin"] = train_data["Cabin"].str.replace('\d+', '', regex=True)
cabin_content = []
for index, row in train_data.iterrows():
    if row["Cabin"] not in ["A", "B", "C", "D", "E", "F", "G"]:
        if row["Pclass"] == 1:
            cabin_content.append("C")
        elif row["Pclass"] == 2:
            cabin_content.append("D")
        else:
            cabin_content.append("G")
    else:
        cabin_content.append(row["Cabin"])
train_data["Cabin_letter"] = cabin_content
print(train_data["Cabin_letter"])

0      G
1      C
2      G
3      C
4      G
      ..
886    D
887    B
888    G
889    C
890    G
Name: Cabin_letter, Length: 891, dtype: object

In [20]:
cabin_content = []
for index, row in test_data.iterrows():
    if row["Cabin"] not in ["A", "B", "C", "D", "E", "F", "G"]:
        if row["Pclass"] == 1:
            cabin_content.append("C")
        elif row["Pclass"] == 2:
            cabin_content.append("D")
        else:
            cabin_content.append("G")
    else:
        cabin_content.append(row["Cabin"])
test_data["Cabin_letter"] = cabin_content
print(test_data["Cabin_letter"])

0      G
1      G
2      D
3      G
4      G
      ..
413    G
414    C
415    G
416    G
417    G
Name: Cabin_letter, Length: 418, dtype: object

In [21]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
sex_array = ohe.fit_transform(train_data[["Sex"]]).toarray()
sex_labels = np.array(ohe.categories_).ravel()
sex_data = pd.DataFrame(sex_array, columns = sex_labels)
train_data = pd.concat([train_data, sex_data], axis=1)
train_data = train_data.drop("male", axis="columns")
train_data.rename(columns = {"female":"Gender"}, inplace = True)

ohe2 = OneHotEncoder()
sex_array = ohe2.fit_transform(test_data[["Sex"]]).toarray()
sex_labels = np.array(ohe2.categories_).ravel()
sex_data = pd.DataFrame(sex_array, columns = sex_labels)
test_data = pd.concat([test_data, sex_data], axis=1)
test_data = test_data.drop("male", axis="columns")
test_data.rename(columns = {"female":"Gender"}, inplace = True)
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_letter,Gender
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,G,0.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,G,1.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,D,0.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,G,0.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,G,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,G,0.0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,C,1.0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,G,0.0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,G,0.0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,G,0.0

In [22]:
from scipy.stats.stats import pearsonr

print("Correlations")
age_data = pd.get_dummies(train_data[["Survived", "Age"]])
age_mean = age_data['Age'].mean()
age_data_drop = age_data.dropna()
corr = pearsonr(age_data_drop["Survived"], age_data_drop["Age"])
print("Raw age: ", corr)

age_data['Age'].fillna(value=age_mean, inplace=True)
corr = pearsonr(age_data["Survived"], age_data["Age"])
print("Filled age: ", corr)

correlated_columns = ["Pclass", "SibSp", "Parch", "Fare", "Gender"]
for name in correlated_columns:
    corr = pearsonr(train_data['Survived'], train_data[name])
    print(name, ": ", corr)

Correlations
Raw age:  (-0.07722109457217767, 0.039124654013465966)
Filled age:  (-0.06980851528714309, 0.037217083726811706)
Pclass :  (-0.33848103596101514, 2.5370473879790813e-25)
SibSp :  (-0.03532249888573552, 0.29224392869800375)
Parch :  (0.08162940708348344, 0.014799245374712841)
Fare :  (0.2573065223849624, 6.120189341917992e-15)
Gender :  (0.5433513806577556, 1.4060661308783955e-69)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import f1_score
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
import statistics as st

features = ["Pclass", "Gender", "Fare", "Parch", "Age", "Embarked"]
age_mean = train_data['Age'].mean()
train_data["Age"].fillna(value=age_mean, inplace=True)
X_all = pd.get_dummies(train_data)
X = pd.get_dummies(train_data[features])
y = train_data["Survived"]


print("Cross-Validation Scores")
pipe_forest = Pipeline([("scaler", StandardScaler()),
      ("model", RandomForestClassifier(n_estimators=100, max_depth=8))])
print("Forest score: ", cross_val_score(pipe_forest, X, y, cv=20, scoring="f1").mean())
pipe_svc = Pipeline([("scaler", StandardScaler()),
      ("model", SVC())])
print("SVC score: ", cross_val_score(pipe_svc, X, y, cv=20, scoring="f1").mean())
pipe_logic = Pipeline([("scaler", StandardScaler()),
      ("model", LogisticRegression(solver='lbfgs', max_iter=200))])
print("Logical regression score: ", cross_val_score(pipe_logic, X, y, cv=20,
                                                    scoring="f1").mean())
pipe_xgb = Pipeline([("scaler", StandardScaler()),
      ("model", XGBClassifier(n_estimators=100, max_depth=8))])
print("XGB score: ", cross_val_score(pipe_xgb, X, y, cv=20, scoring="f1").mean())

print("Test-Split Scores")
model_names = ["forest", "SVC", "logic", "XGB"]
forest_train = []
forest_test = []
sgd_train = []
sgd_test = []
svc_train = []
svc_test = []
logic_train = []
logic_test = []
xgb_train = []
xgb_test = []


for i in range (99):
    X_train, X_test, y_train, y_test=train_test_split(X,y,train_size=0.8,
                                                      random_state=i)
    
    pipe_forest.fit(X_train, y_train)
    forest_train.append(f1_score(pipe_forest.predict(X_train), y_train))
    forest_test.append(f1_score(pipe_forest.predict(X_test), y_test))

    pipe_svc.fit(X_train, y_train)
    svc_train.append(f1_score(pipe_svc.predict(X_train), y_train))
    svc_test.append(f1_score(pipe_svc.predict(X_test), y_test))

    pipe_logic.fit(X_train, y_train)
    logic_train.append(f1_score(pipe_logic.predict(X_train), y_train))
    logic_test.append(f1_score(pipe_logic.predict(X_test), y_test))
    
    pipe_xgb.fit(X_train, y_train)
    xgb_train.append(f1_score(pipe_xgb.predict(X_train), y_train))
    xgb_test.append(f1_score(pipe_xgb.predict(X_test), y_test))

for name in model_names:
    if name == "forest":
        train = forest_train
        test = forest_test
    elif name == "SVC":
        train = svc_train
        test = svc_test
    elif name == "logic":
        train = logic_train
        test = logic_test
    elif name == "XGB":
        train = xgb_train
        test = xgb_test
        
    print(name)
    print("training score")
    print("Min: ", min(train))
    print("Max: ", max(train))
    print("Mean: ", st.mean(train))
    print("testing score")
    print("Min: ", min(test))
    print("Max: ", max(test))
    print("Mean: ", st.mean(test))
    print("")

Cross-Validation Scores
Forest score:  0.7514991719809163
SVC score:  0.7297922057189299
Logical regression score:  0.7238214732215009
XGB score:  0.7500103092487453
Test-Split Scores
forest
training score
Min:  0.8618556701030927
Max:  0.9140624999999999
Mean:  0.8891349013805601
testing score
Min:  0.6782608695652174
Max:  0.8333333333333334
Mean:  0.7511322606963824

SVC
training score
Min:  0.7194570135746607
Max:  0.7786259541984734
Mean:  0.7460625500380859
testing score
Min:  0.6336633663366336
Max:  0.8070175438596493
Mean:  0.7303835685788279

logic
training score
Min:  0.7067961165048544
Max:  0.758364312267658
Mean:  0.7288717612652135
testing score
Min:  0.6141732283464567
Max:  0.8088235294117647
Mean:  0.724398371021483

XGB
training score
Min:  0.9136276391554703
Max:  0.9473684210526315
Mean:  0.9299796815249993
testing score
Min:  0.6557377049180327
Max:  0.8615384615384615
Mean:  0.7489380505209675

In [24]:
# Ensemble time!
from sklearn import model_selection
from sklearn.ensemble import VotingClassifier

fold = model_selection.KFold(n_splits=5, shuffle=True)
estimators = []
estimators.append(("forest", RandomForestClassifier(n_estimators=100, max_depth=8)))
estimators.append(("svc", SVC()))
estimators.append(("xgb", XGBClassifier(n_estimators=100, max_depth=8)))
estimators.append(("logic", LogisticRegression(solver='lbfgs', max_iter=200)))
ensemble = VotingClassifier(estimators)
fin = model_selection.cross_val_score(ensemble, X, y, cv=fold, scoring="f1")
print(fin.mean())
# ensemble.fit(X_train,y_train)
# print(f1_score(ensemble.predict(X_test), y_test))
ensemble.fit(X,y)
print(f1_score(ensemble.predict(X), y))

fare_mean = test_data['Fare'].mean()
test_data["Fare"].fillna(value=fare_mean, inplace=True)
age_mean_test = test_data['Age'].mean()
test_data["Age"].fillna(value=age_mean_test, inplace=True)
test_data = pd.get_dummies(test_data[features])

predictions = ensemble.predict(test_data)
output = pd.DataFrame({'PassengerId': pass_id, 'Survived': predictions})
output.to_csv('submission.csv', index=False)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7225762758766333
0.8203389830508475

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(